# Object files
*.o
*.lo
*.ko
*.obj
*.elf

# Libraries
*.lib
*.a

# Shared objects (inc. Windows DLLs)
*.dll
*.so
*.so.*
*.dylib

# Executables
*.exe
*.out
*.app
*.i*86
*.x86_64
*.hex
.DS_Store
*~
*.swp
*.swo
*.dSYM
a.out
tags
favicon.ico

# Rust project
Cargo.lock
target
